# Netbeans
build.xml
manifest.mf
/nbproject
/build
/dist

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
/JavaApplication10/nbproject/private/
/JavaApplication11/nbproject/private/
/JavaApplication12/nbproject/private/